@media (max-width: 767px) {
	.col-xs-2 {
		width: 16.5%;
	}
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33%;
	}
	.col-xs-5 {
		width: 41.6%;
	}
	.col-xs-6 {
		width: 50%;
	}
	.col-xs-7 {
		width: 58.3%;
	}
	.col-xs-8 {
		width: 66.6%;
	}
	.col-xs-9 {
		width: 75%;
	}
	.col-xs-10 {
		width: 83.3%;
	}
	.col-xs-11 {
		width: 91.6%;
	}
	.col-xs-12 {
		width: 100%;
	}
}

/*Заголовок*/

@media (max-width: 767px) {
	.container {
    	max-width: 100%;
    	margin: 0;
	}
	.container .top-row {
		height: 90px;
		padding-top: 5px;
    	padding-bottom: 5px;
	}
	.logo {
		margin: auto 0;
	    padding: 0;
	    width: 25%;
	}
	.top-logo img {
    	width: 70px;
    }
    .top-row .delivery {
    	flex: none;
	    padding: 0;
	    width: 41%;
	    margin: auto 0;
	}
	.top-row .delivery .top-l-1 {
		font-size: 11px;
		letter-spacing: -0.5px;
		display: inline-block;
    	width: 100%;
    	padding: 5px 0;
	}
	.top-row .phone {
		margin: auto 0;
	    padding: 0;
	    text-align: center;
	    width: 34%;
	}
	.top-row .phone .wrap_head_tel {
		top: 0px;
	}
    #carouselExampleIndicators .carousel-caption .link_slide {
		display: none;
	}
	#wrapper .wrap_to_icon {
		display: none;
	}
	#wrapper .wrap_main_slide {
		padding: 0;
	}
	#carouselExampleIndicators .carousel-inner {
		min-height: 100px;
		margin: 0;
		padding: 0;
	}
	#carouselExampleIndicators .slick-list {
		margin: 0;
		padding: 0;
	}
}

@media (min-width: 521px) and (max-width: 767px) {
	.top-row .phone .wrap_head_tel .h-tel {
    	background: none;
    	font-size: 24px;
    	float: none;
    	padding: 0;
    	margin: 0;
    	line-height: 1.5;
    	letter-spacing: -1.5px;
    }
}

@media (max-width: 520px) {
	.top-row .phone .wrap_head_tel .h-tel {
    	background: none;
    	font-size: 18px;
    	float: none;
    	padding: 0;
    	margin: 0;
    	line-height: 1.5;
    	letter-spacing: -1.5px;
    }
}

/*Main*/

@media (min-width: 768px) {
	#main .category {
		display: none;
	}
	#main .icons {
		display: none;
	}
}

@media (min-width: 521px) and (max-width: 767px) {		
	#main .col-xs-12 .activ_cat {
    	float: none;
    	width: 100%;
    	display: inline-block;
    	background: none;
    	font-size: 36px;
    	padding-right: 0;
    	text-align: center;
    	letter-spacing: 5px;
    	text-transform: inherit;
    	border: 1px solid;
    	padding: 10px 0;
    }
	#main .col-xs-12 .fa {
        color: rgb(166, 119, 181);
        font-size: 36px;
    	text-align: left;
    }
    #main .wrap_post_thumb > img {
    	height: 280px;
    	max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
	}
	#main .wrap-main-card > div {
		padding: 5px;
    	height: auto;
    	margin: 5px auto;
    	border: 2px solid #e8e8e8;
    	width: 100%;
	}
	#main .wpf-search-container .single_add_to_cart_button {
    	float: none;
    	margin: 0;
    }
    #main .wpf-search-container .clickBuyButton {
    	float: none;
    	margin: 15px;
    	border: none;
    	margin-bottom: 13px;
    }
}

@media (max-width: 520px) {
	#main .clickBuyButton {
		margin-top: -5px;
		margin-left: auto;
    	margin-right: auto;
    	float: none;
	}
	#main .woocommerce-variation-add-to-cart .clickBuyButton {
		margin-top: 5px;
		margin-left: auto;
    	margin-right: auto;
    	float: none;
	}
	#main .slick-active .wrap_hide_but .clickBuyButton {
		margin-top: -5px;
		margin-left: auto;
    	margin-right: auto;
    	float: none;
	}
	#main .add_to_cart_button {
    	float: none;
    	width: 110px;
    	margin: 5px auto 0 auto !important;
	}
	#main .col-xs-12 .activ_cat {
    	float: none;
    	width: 100%;
    	display: inline-block;
    	background: none;
    	font-size: 24px;
    	padding-right: 0;
    	text-align: center;
    	text-transform: inherit;
    	border: 1px solid;
    	padding: 10px 0;
    }
	#main .col-xs-12 .fa {
        color: rgb(166, 119, 181);
        font-size: 24px;
    	text-align: center;
    }
    #main .tp-2 > span {
    	line-height: 67px !important;
    }
    #main .tp-4 > span {
    	line-height: 25px !important;
    }
    #main .tp-5 > span {
    	line-height: 35px !important;
    }
    #main .wrap_exept {
    	height: 32px;
    	font-size: 11px;
    	padding: 5px;
    	overflow: hidden;
    }
	#main .wrap-main-card > div {
		padding: 5px;
    	height: auto;
    	margin: auto;
    	border: 2px solid #e8e8e8;
    	width: 100%;
	}
	#main .wpf-search-container .single_add_to_cart_button {
    	float: none;
    	margin: 5px 0 0 0;
    }
}

@media (max-width: 380px) {
	#main .wrap_post_thumb > img {
    	max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 150px;
	}
	#main .slick-current .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 200px;
	}
	#main .related .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 295px;
    }
	#main .wpf-search-container .attachment-shop_single {
		width: 100%;
	    max-width: 100%;
	    height: 280px;
	    object-fit: contain;
	    margin: 0;
	    padding: 0;
	}
}

@media (min-width: 380px) and (max-width: 420px) {
	#main .wrap_post_thumb > img {
    	height: 175px;
    	max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
	}
	#main .slick-current .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 235px;
	}
	#main .related .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 370px;
    }
    .wrap-woo .slick-track {
    	margin-bottom: 45px;
    }
	#main .wpf-search-container .attachment-shop_single {
		width: 100%;
	    max-width: 100%;
	    height: 350px;
	    object-fit: contain;
	    margin: 0;
	    padding: 0;
	}
}

@media (min-width: 421px) and (max-width: 520px) {
	#main .wrap_post_thumb > img {
    	height: 230px;
    	max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
	}
	#main .slick-current .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 365px;
	}
	#main .related .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 460px;
    }
    .wrap-woo .slick-track {
    	margin-bottom: 155px;
    
	}
	#main .wpf-search-container .attachment-shop_single {
		width: 100%;
	    max-width: 100%;
	    height: 400px;
	    object-fit: contain;
	    margin: 0;
	    padding: 0;
	}
}

@media (min-width: 521px) and (max-width: 609px) {
	#main .wrap_post_thumb > img {
    	height: 260px;
    	max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
	}
	#main .slick-current .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 445px;
	}
	#main .related .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 535px;
    }
    .wrap-woo .slick-track {
    	margin-bottom: 225px;
	}
	#main .wpf-search-container .attachment-shop_single {
		width: 100%;
	    max-width: 100%;
	    height: 470px;
	    object-fit: contain;
	    margin: 0;
	    padding: 0;
	}
	#main .wpf-search-container .wrap_add_one_but .clickBuyButton {
	    float: none;
	    margin: 15px;
	    border: none;
	    margin-bottom: 13px;
	}
	#main .wrap_exept {
	    height: 20px;
	    font-size: 12px;
	    padding: 5px;
	    overflow: hidden;
    }
    #main .wrap_hide_but .clickBuyButton {
		margin: -5px auto 0 auto;
	    float: none;
	}
	#main .add_to_cart_button {
		float: none;
    	width: 110px;
    	margin: 5px auto 0 auto !important;
	}
}

@media (min-width: 610px) and (max-width: 700px) {
	#main .wrap_post_thumb > img {
    	height: 305px;
    	max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
	}
	#main .slick-current .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 445px;
	}
	#main .related .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 615px;
    }
    .wrap-woo .slick-track {
    	margin-bottom: 225px;
	}
	#main .wpf-search-container .attachment-shop_single {
		width: 100%;
	    max-width: 100%;
	    height: 580px;
	    object-fit: contain;
	    margin: 0;
	    padding: 0;
	}
	#main .wrap_exept {
    	height: 20px;
	    padding: 5px;
	    width: 94%;
	    margin: auto;
	    overflow: hidden;
	    font-size: 12px;
    }
    #main .wrap_hide_but .clickBuyButton {
		margin: -4px auto 0 auto;
	    float: none;
	}
	#main .add_to_cart_button {
		float: none;
    	width: 110px;
    	margin: 5px auto 0 auto !important;
	}
	.wpf-search-container .wrap-ordering {
		padding: 0;
		height: auto;
	}
}

@media (min-width: 701px) and (max-width: 767px) {
	#main .wrap_post_thumb > img {
    	height: 360px;
    	max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
	}
	#main .slick-current .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 445px;
	}
	#main .related .wrap_post_thumb > img {
		max-width: none;
    	width: 100%;
    	padding: 0;
    	object-fit: cover;
    	display: block;
    	height: 615px;
    }
    .wrap-woo .slick-track {
    	margin-bottom: 225px;
	}
	#main .wpf-search-container .attachment-shop_single {
		width: 100%;
	    max-width: 100%;
	    height: 710px;
	    object-fit: contain;
	    margin: 0;
	    padding: 0;
	}
	#main .wrap_exept {
    	height: 20px;
	    padding: 5px;
	    width: 94%;
	    margin: auto;
	    overflow: hidden;
	    font-size: 12px;
    }
    #main .wrap_hide_but .clickBuyButton {
		margin: -4px auto 0 auto;
	    float: none;
	}
	#main .add_to_cart_button {
		float: none;
    	width: 110px;
    	margin: 5px auto 0 auto !important;
	}
	.wpf-search-container .wrap-ordering {
		padding: 0;
		height: auto;
	}
}

@media (max-width: 767px) {		
	#main {
		padding-bottom: 15px;
	}
	#main .popular_section_title, .popular_section_item, .new_products_title, .new_products_item, .gifts_title, .gifts_item {
		display: none;
	}
	#main .category {
	    margin-top: 10px;
	}
	#main .category > a {
		margin: 0;
	}
	#main .category-row {
		border: 1px solid #ac80ba;
    	margin: 5px 0;
	}
	#main .category_title {
		margin-left: 10px;
    	margin-top: 0;
    	margin-bottom: 0;
    	font-family: "PFDinTextCompPro";
    	width: 58.9%;
	}
	#main .category > h1 > i {
		margin-left: -10px;
    	margin-right: -10px;
	}
	#main .category-row > a {
		margin: auto 5px;
	    text-align: right;
	    font-size: 16px;
	    width: 34%;
	}
	#main .main-card > a {
		text-decoration: none;
	}
	#main .wrap_post_thumb {
		position: relative; 
		overflow: hidden;
		display: flex;
	    justify-content: center;
	}
	#main .wrap-woo {
		width: 100%;
	    padding-right: 15px;
    	padding-left: 15px;
    	margin: 0;
    	left: 0;
	}
	#main .wrap-woo > img {
		padding-bottom: 15px;
	}
	#main .wrap-main-card {
		width: 50%;
		margin: 0;
    	padding: 0;
	}
	#main .woocommerce .wrap-main-card {
		padding-bottom: 0;
	}
	#main .wrap_hide_but {
		text-align: center;
	}
	#main .top_icon {
    height: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100%;
	}
	#main .tp-1 > i {
	    background-image: url(/wp-content/themes/main/images/icon1.png);
	}
	#main .top_icon > i {
    	display: inline-block;
    	height: 100%;
    	width: 25%;
    	-webkit-border-radius: 29px;
    	-moz-border-radius: 29px;
    	border-radius: 29px;
    	float: none;
    	margin-right: 15px;
    	background-repeat: no-repeat;
    	background-position: center right;
    }
    #main .top_icon > span {
    	font-size: 18px;
    	font-family: "PFDinTextCondPro";
    	color: rgb(0, 0, 0);
    	text-align: left;
    	line-height: 70px;
    	display: inline-block;
    	vertical-align: top;
    	letter-spacing: 0.3px;
    	position: relative;
    	float: none;
    	width: 55%;
    	height: 100%;
    }
    #main .tp-2 > i {
	    background-image: url(/wp-content/themes/main/images/icon2.png);
	}
	 #main .tp-2 .unical {
	 	font-style: normal;
	 	display: none;
	}
	 #main .tp-2 .post {
	 	font-style: normal;
	 	text-transform: capitalize;
	}
	#main .tp-3 > i {
	    background-image: url(/wp-content/themes/main/images/icon3.png);
	}
	#main .tp-4 > i {
	    background-image: url(/wp-content/themes/main/images/icon4.png);
	}
	#main .tp-5 > i {
	    background-image: url(/wp-content/themes/main/images/icon5.png);
	}

	#main .h_c_form {
		margin-left: 15px;
    	margin-right: 15px;
	}
	#main .delivery > h2 {
	    margin: 10px 35px;
    	padding: 0;
    	width: 100%;
    }
    #main .delivery > h2 > span {
	    width: 100%;
	    font-size: 32px;
    }
    #main .delivery > h2 > span:before {
	    display: block;
    	font-size: 0px;
    }
    #main .delivery > h2 > span:after {
	    display: block;
    	font-size: 0px;
    }
    #main .wrap_delivery > p {
    	margin: 0;
    	height: 10px;
    }
    #main .wrap_delivery > h4 {
    	font-size: 16px;
    	font-family: sans-serif;
    }
    #main .wrap_delivery {
    margin: 0 15px;
	}
	#main .individualny_buket {
		display: none;
	}
	#main .wrap_delivery > h4 {
		text-align: center;
    	margin: 0;
	}
	#main .wrap_delivery .symbol {
		text-align: center;
	    display: inline-block;
	    width: 100%;
	    font-size: 40px;
	    height: 20px;
	    vertical-align: top;
	    margin-top: -10px;
	    color: #545454;
	}
	#main .wrap_w_category {
		margin-top: 10px;
    	padding: 0 4px;
	}
	#main .slick-list {
		padding: 0;
	}
	#wpis-gallery {
		display: none;
	}
	#main .wpf-search-container .product_title {
		font-size: 20px;
		margin: 0;
		padding: 0;
	}
	#main .wpf-search-container .m-entry-summary {
		margin: 0;
	}
	#main .wpf-search-container .images {
		margin: 0;
	}
	#main .wpf-search-container .pr-content > h2 {
		display: block;
    	float: none;
    	color: #0000;
	}
	#main .wpf-search-container .sku_wrapper {
		padding-bottom: 10px;
	}
	#main .wpf-search-container p {
		padding: 0;
		margin: 0;
	}
	#main .wpf-search-container table > tbody > tr > td:nth-child(1) {
		display: none;
	}
	#main .wpf-search-container .quantity {
		display: none;
	}
	#main .wpf-search-container .yith_wapo_group_total {
		margin: 0;
	}
	#main .wpf-search-container .price {
		font-size: 40px;
    	text-align: center;
    	padding-top: 0;
	}
	#main .wpf-search-container .yith_wapo_keep_show {
		margin: 0 auto;
    	width: 100%;
    }
    #main .wpf-search-container .ywapo_group_container {
    	padding: 0;
    }
    #main .wpf-search-container .wrap_add_one_but {
    	display: inline-block;
    	margin: 40px 0 0 5px;
    }
    #main .wpf-search-container .woocommerce-variation-add-to-cart {
		display: inline-block;
    	text-align: center;
    }
    #main .woocommerce-cart-form .product-thumbnail {
    	width: 100%;
	    padding: 0;
	    float: none;
    }
    #main .woocommerce-cart-form .attachment-woocommerce_thumbnail {
    	width: 40%;
	    height: auto;
	    max-width: 90%;
	    float: left;
    }
    #main .wrap_w_category .price {
    	font-size: 24px;
    	padding: 0;
    }
    #main .wpf-search-container .fp_sidebar {
    	padding: 0;
    }
    .wrap_post_thumb img:hover {
		transform: scale(1.3);
	}
	.wrap_post_thumb img {
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}
	.form-control option {
		font-size: 11px;
		font-family: sans-serif;
	}
	.all_gifts > h1 {
		margin: 0;
	}
	.wrap_cat_gifts {
		padding: 5px 0;
	}
	.woocommerce .slick-active {
		border: none;
	    margin: 0;
	    padding: 5px 10px;
	}
	.product .all_gifts .slick-track > div:nth-child(9) {
		display: none;
	}
	.product-template-default section.related.products h1 {
		margin-bottom: 0;
	    padding-bottom: 0;
	    margin-top: 25px;
	}
}

@media (min-width: 348px) and (max-width: 767px) {
	.textwidget .postcard {
		padding-top: 25px;
	}
	.textwidget .shipping {
		padding-top: 25px;
	}
}

@media (min-width: 338px) and (max-width: 520px) {
	#main .tp-4 > span {
		margin-top: 10px;
	}
}

@media (min-width: 768px) {	
	#main .wrap_delivery .symbol {
		display: none;
	}
	.wrap_post_thumb img:hover {
		transform: scale(1.5);
	}
	.wrap_post_thumb img {
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
	}
}


/*Подвал*/

#footer .top-footer {
	margin: 0 auto;
}
#footer .footer-menu {
	width: 75%;
	text-align: left;
}
#footer .footer-menu > div {
	display: inline-block;
    vertical-align: top;
}

@media (min-width: 768px) {	
	#footer .text-2 {
		display: none;
	}
	#footer .h-tel {
    	display: block;
	}
	#footer .f-menu-1 {
		display: none;
	}
	#footer .f-menu-2 {
		display: none;
	}
	#footer .f-menu-3 {
		display: none;
	}
}

@media (max-width: 767px) {	
	#footer .footer-menu {
		width: 66.6% !important;
	}
	#footer .footer-logo {
		display: none;
	}
	#footer .text-1 {
		display: none;
	}
	#footer .f-l-icon {
		display: none;
	}
	#footer .footer-info {
		padding: 0;
	}
	#footer .h-tel {
	    font-size: 15px;
	    padding: 0;
    	line-height: 1.2;
	}
	#footer .menu-futer-levoe > li > a {
		padding: 0 0 10px 0;
	}
	#footer .text-2 {
		line-height: 14px;
	}
	#footer .f-menu {
		display: none;
	}
	#footer .wrap-icons {
		display: none;
	}
	#footer .foot {
		padding: 0;
    	margin: 0;
    	list-style-type: none;
	}
	#footer .foot > li {
		display: block;
	}
	#footer .foot > li > a {
		font-size: 15px;
	    font-family: "PFDinTextCompPro-Medium";
    	color: rgb(0, 0, 0);
	    text-transform: uppercase;
	    padding: 0;
	    letter-spacing: 0.8px;
	}
	#footer .active_form {
	    padding: 0;
    	margin: 5px 0;
    }
    #footer .development {
		display: none;
    }
    .woocommerce .slick-dots > li.slick-active {
	margin: 0 5px;
    padding: 0;
    border: 2px solid #ac80ba;
    background: #ac80ba;
	}
	.pr-content {
		width: 60px;
	}
}


.hidden {
	display: none !important;
}

.header-slider .slick-slide {
    margin: 0;
    border: none;
    padding: 0;
    height: 100%;
}

.header-slider .slick-slide img {
	padding-bottom: 0;
}

#carouselExampleIndicators .slick-dots {
	text-align: left;
	padding-left: 15px;
	bottom: 0;
}

#carouselExampleIndicators .slick-dots > li {
	width: 10px;
    height: 10px;
    background: #fff;
}

#carouselExampleIndicators .slick-dots > li > button {
	color: #fff0;
}

#carouselExampleIndicators .slick-dots li.slick-active {
    background: #ac80ba;
}
.col_bg_top_menu .navbar {
    left: -30px;
}
.wrap_post_thumb {
	overflow: hidden;
}

#main .has-post-thumbnail {
margin-left: 15px;
}

/*Корзина*/

@media (max-width: 767px) {
	.woocommerce-cart h1 {
		margin: 0 0 10px 0;
	}
	.m-emty-cart-button .button {
		margin: 0;
	}
}
	