@media (max-width: 767px) {
	.col-xs-2 {
		width: 16.5%;
	}
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33%;
	}
	.col-xs-5 {
		width: 41.6%;
	}
	.col-xs-6 {
		width: 50%;
	}
}

/*Заголовок*/

@media (max-width: 767px) {
	.container {
    	max-width: 100%;
    	margin: 0;
	}
	.container .top-row {
		height: auto;
		padding-top: 15px;
    	padding-bottom: 5px;
	}
	.logo {
		margin: auto 15px;
	}
	.top-logo img {
    	width: 60px;
    }
    .top-row .delivery {
    	flex: none;
    	padding: 0;
    	margin: auto;
	}
	.top-row .delivery .top-l-1 {
		font-size: 10px;
		letter-spacing: 0px;
		display: inline-block;
    	width: 100%;
    	padding: 5px 0;
	}
	.top-row .phone {
		margin-left: 0;
    	margin-right: 15px;
    	margin-top: auto;
    	margin-bottom: auto;
    	padding: 0;
    	text-align: center;
	}
	.top-row .phone .wrap_head_tel {
		top: 0px;
	}
	.top-row .phone .wrap_head_tel .h-tel {
    	background: none;
    	font-size: 12px;
    	float: none;
    	padding: 0;
    	margin: 0;
    }
    #carouselExampleIndicators .carousel-caption .link_slide {
		display: none;
	}
	#wrapper .wrap_to_icon {
		display: none;
	}
	#wrapper .wrap_main_slide {
		padding: 0;
	}
}

/*Main*/
@media (max-width: 767px) {		
	#main .popular_section_title, .popular_section_item, .new_products_title, .new_products_item, .gifts_title, .gifts_item {
		display: none;
	}
	#main .category_title {
		padding: 0;
	}
}

@media (min-width: 768px) {
	#main .category {
		display: none;
	}
	#main h2 > span:before {
    content: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGwAAAASCAAAAACbJWSgAAAABGdBTUE…70uqWFFwn6X19m4YEUgdDBp3pQA4UANHBCMRq3tmoysH8ANLHgFEoxbtAAAAAASUVORK5CYII=);
	}
}



